* {
  padding: 0;
  margin: 0;
  border-style: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: grey; /* temporário pra visão */
  font-family: 'Megrim', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.navbar-nav {
  font-size: larger;
  text-transform: uppercase;
}